// Variables //
$font1: 'Readex Pro', sans-serif;
$font2: 'Secular One', sans-serif;
$font3: 'Baloo Bhaijaan 2';
$font4: 'Bakbak One';
$font5: 'Roboto Slab', serif;
$textLink: none;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);